# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Model files
model/*.pkl
model/*.keras

# OS files
.DS_Store
Thumbs.db

# module
node_modules/