<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recy.</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/logo/logo.svg') }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
</head>
<body>
{% include './template/nav.html' %}
<div class="bg-white w-full max-w-[1440px] mx-auto p-10">
    <div class="flex flex-col items-center justify-center min-h-screen w-full gap-10">
        <div class="text-center flex flex-col items-center gap-5">
            <h1 class="text-darkgreen font-extrabold text-h3 md:text-h1">Maintenance Time</h1>
            <small class="max-w-5xl text-sm md:text-small">The site is currently under maintenance to improve performance and stability. We apologize for any inconvenience. Please check back soon to access the service as usual.</small>
            <a href="/"
               class="bg-oranye max-w-xs text-white px-8 py-4 rounded-full font-semibold cursor-pointer shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] hover:bg-darkgreen transition-all duration-300">
                Go to Home
            </a>
        </div>
        <img src="{{ url_for('static', filename='assets/counter/maintanance.svg') }}" alt="404-Image" class="w-1/2 hidden md:block">
        <small class="max-w-6xl text-sm md:text-small">Thank you for supporting recy, so <strong class="text-oranye font-bold">stay tuned</strong> .</small>
    </div>
</div>
{% include './template/footer.html' %}
</body>
</html>