<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recy.</title>
</head>
<body>
<div class="flex flex-col items-start justify-evenly gap-6">
    <div class="flex flex-col items-start justify-evenly gap-2">
        <h3 class="text-darkgreen font-extrabold">What to Do with This Waste?</h3>
        <small class="text-left">PET plastic is commonly used in mineral water bottles, cooking oil, or food packaging. It
            is
            transparent, lightweight, and durable.</small>
    </div>
    <div class="flex flex-col items-start justify-evenly gap-2">
        <h3 class="text-darkgreen font-extrabold">Characteristic</h3>
        <small class="mb-2">• Sampah organik dapat dikompos menjadi pupuk</small>
        <small class="mb-2">• Pisahkan dari sampah jenis lainnya</small>
        <small class="mb-2">• Dapat digunakan untuk budidaya tanaman</small>
    </div>
    <div class="flex flex-col items-start justify-evenly gap-2">
        <h3 class="text-darkgreen font-extrabold">Environmental Impact</h3>
        <div class="bg-darkgreen p-6 rounded-3xl">
            <small class="text-left font-bold text-white">PET plastic is recyclable, but if not disposed of properly, it can contribute to
                environmental pollution. It can take hundreds of years to decompose in landfills.</small>
        </div>
    </div>
</div>
</body>
</html>