<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recy.</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/logo/logo.svg') }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
</head>
<body>
{% include 'template/nav.html' %}
<main class="bg-white w-full max-w-[1440px] mx-auto p-10">

</main>
{% include 'template/footer.html' %}
</body>
</html>
